@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #171717;
    color: white;
}

.drag-target {
    width: 0 !important;
}

/* ---------------------------------------------------------------- NAVIGATION BAR */
.sign-up {
    background-color: #fff;
    color: #000000;
}

.sign-up:hover {
    background-color: #A2A2A0;
    color: #fff;
}

nav li a {
    text-transform: uppercase;
}

nav li a:hover {
    color: #A2A2A0;
}

.shutter-logo {
    padding: 0 5px 0;
}

.brand-logo {
    text-transform: uppercase;
}
/* ---------------------------------------------------------------- END NAVIGATION BAR */
/* ---------------------------------------------------------------- BANNER IMAGE */
.banner-image {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
    background-size: cover;
}
/* ---------------------------------------------------------------- END BANNER IMAGE */
/* ---------------------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .banner-image {
    height: 30vh;
    }
}

@media screen and (max-width: 992px) {
    a.brand-logo {
        font-size: 18px;
    }

    .shutter-logo {
        font-size: 14px;
    }
}

@media screen and (max-width: 417px) {
    a.brand-logo {
        width: 190px;
        font-size: 16px;
    }

    .shutter-logo {
        font-size: 14px;
    }
}
/* ---------------------------------------------------------------- END MEDIA QUERIES */