@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #171717;
    color: white;
}

.drag-target {
    width: 0 !important;
}

.container {
    width: 95%;
}

/* ---------------------------------------------------------------- NAVIGATION BAR */
.sign-up, .add-image {
    background-color: #fff;
    color: #000000;
}

.sign-up:hover, .add-image:hover {
    background-color: #A2A2A0;
    color: #fff;
}

nav li a {
    text-transform: uppercase;
}

nav li a:hover {
    color: #A2A2A0;
}

.shutter-logo {
    padding: 0 5px 0;
}

.brand-logo {
    text-transform: uppercase;
}
/* ---------------------------------------------------------------- END NAVIGATION BAR */
/* ---------------------------------------------------------------- BANNER IMAGE */
.banner-image {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
    background-size: cover;
}
/* ---------------------------------------------------------------- END BANNER IMAGE */
/* ---------------------------------------------------------------- FLASH MESSAGES */
.flash-messages h3 {
    line-height: 2;
}
/* ---------------------------------------------------------------- END FLASH MESSAGES */
/* ---------------------------------------------------------------- PAGE TITLES */
.page-title {
    text-transform: uppercase;
    margin-top: 20px;
}
/* ---------------------------------------------------------------- END PAGE TITLES */
/* ---------------------------------------------------------------- GALLERY */
.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.mobile-gallery {
    display: none;
}

.edit, .delete {
    background-color: #A2A2A0;
}

.edit:hover, .delete:hover {
    background-color: #A2A2A0;
}

.icon-edit, .icon-delete {
    background-color: #A2A2A0;
    color: #fff;
}

.icon-edit:hover, .icon-delete:hover {
    color: #000000;
}
/* ---------------------------------------------------------------- END GALLERY */
/* ---------------------------------------------------------------- LOG IN & SIGN UP */
.join-now {
    padding: 15px;
}

.sign-up-submit, .log-in-submit, .add-image-submit {
    background-color: #fff;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}

.sign-up-submit:hover, .log-in-submit:hover, .add-image-submit:hover {
    background-color: #A2A2A0;
    color: #fff;
}

/* ---------------------------------------------------------------- END LOG IN & SIGN UP*/
/* ---------------------------------------------------------------- ADD IMAGE*/

.datepicker-date-display {
    background-color: #171717;
}

.datepicker-controls .select-month input {
    width: 80px;
}

.add-image-form, .edit-image-form {
    width: 80%;
}

/* ---------------------------------------------------------------- END ADD IMAGE*/
/*----------------------------------------------------------------- FOOTER*/

footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    left: 0;
    bottom: 0;
}

footer>p {
    margin: 5px 0;
    color: #A2A2A0;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 1.25rem;
    padding: .5%;
    color: #A2A2A0;
}

.social-links a {
    text-decoration: none;
}

.social-links li a i:hover {
    text-decoration: none;
    color: #fff; 
}

/*----------------------------------------------------------------- END FOOTER*/
/* ---------------------------------------------------------------- MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .banner-image {
    height: 30vh;
    }

    .mobile-gallery {
    display: block;
    }

    .desktop-gallery {
    display: none;
    }
}

@media screen and (max-width: 992px) {
    a.brand-logo {
        font-size: 18px;
    }

    .shutter-logo {
        font-size: 14px;
    }

    .sidenav {
        background-color: #171717;
    }

    .sidenav li>a {
    color: #fff;
    }

    .sidenav li>a:hover {
    background-color: #A2A2A0;
    }
}

@media screen and (max-width: 417px) {
    a.brand-logo {
        width: 190px;
        font-size: 16px;
    }

    .shutter-logo {
        font-size: 14px;
    }
}
/* ---------------------------------------------------------------- END MEDIA QUERIES */