{% extends "base.html" %}
{% block content %}
<article class="container home-page">
    <div class="row">
        <!----------------------------------------ARTICLE---------------------------------------->
        <div class="col s12 m9 l10">
            <div id="title" class="section scrollspy">
                <h3 class="center-align" id="home-page-title">Photographing Star Trails</h3>
                <div class="center-align">
                    <span><em>Article by: Don Komarechka</em></span>
                </div>
                <br>
            </div>
            <div>
                <p>Photography is a fantastic tool to explore the world around you, especially in ways normally invisible to our eyes. Landscapes at night often reveal untold treasures in the sky, and the stars can be made to swirl around like a dream. The process for photographing the movement of the stars isn’t nearly as difficult as it once was; star trails can be easily captured by any camera with a wired shutter release cable!</p>
            </div>
            <div id="composition" class="section scrollspy">
                <h5>Composition comes first</h5>
                <p>There are a few things to consider when making a star trail image; the first is composition. As with any good landscape photograph, you should be able to visually navigate through the image. A foreground element is very helpful, and having water in the scene is a bonus – the stars can reflect off the surface of the water. The image shouldn’t only be about the stars, but how they interact with the landscape.
                    You should try to shoot with the widest lens you have. This offers more stars to fill the night sky, and also a greater potential to have the North Star somewhere in the frame. Most of my star trail images are photographed with a fisheye lens, because of the 180 degree field of view. The wider the field of view, the more star trails your image can contain.
                    As the Earth spins around its axis, the North Star is the only star that doesn’t move (much). All of the other stars appear to spinning around this central location, which can add a visual anchor point in your composition. If you’re not familiar with the exact position of the North Star, simply set your camera to bulb mode and take an extra-long exposure in the neighbourhood of 4-5 minutes. This should give enough of a “spin” for the stars to help you pinpoint the center of the celestial circle.
                </p>
                <div class="center-align">
                    <a target="_blank" href="https://flic.kr/p/NnqKyo" aria-label="Go to Flickr">
                    <img class="img-homepage" src="https://live.staticflickr.com/8676/30434886962_a0b013f6b4_h.jpg" alt="Star trails by Joel Tonyan">
                    </a>
                </div>
            </div>
            <div id="settings" class="section scrollspy">
                <h5>Camera settings</h5>
                <p>The goal for your final image however, requires a different exposure. Start with the following, set on manual mode:</p>
                <ul id="bullet-points">
                    <li>Shutter speed: 30 seconds</li>
                    <li>Aperture: f/3.5</li>
                    <li>ISO: 3200</li>
                </ul>
                <p>Take a test shot and see what you get. If the exposure is too bright, decrease the ISO or choose a smaller aperture (higher F-number). If the image is too dark, try increasing the ISO to compensate. Always leave the shutter speed at 30 seconds. When you get an exposure that looks good on the back of your camera, you’re set. Just make sure the camera is set to continuous shooting mode with long-exposure noise reduction turned OFF.</p>
                <p>Also be sure to set the camera or lens to manual focus. The focus can’t shift from one image to the next, so dial it in manually. I find that focusing on distant light sources using Live View allows for the best depth of field while still keeping the stars sharp. Foreground objects may appear blurry, so going the “extra mile” would be to focus on the foreground and focus-stack the landscape. </p>
                <p>With a wired remote shutter release, press and lock the shutter control. When one exposure ends, the next one will automatically begin. Let the camera continue this way for roughly an hour, and stop it whenever you’re ready to leave. If you left the camera for one hour, it should have recorded 120 separate 30-second exposures. These images can then be combined very easily in Photoshop. </p>
                <p>Forgot your remote shutter release, or haven’t purchased one yet? I’ve found myself ready to make a star trail image and digging around in my camera bag offered me no cable release – it was somewhere at home, far far away. In a rare moment of creativity, I grabbed some tape (always keep some Gaffer’s tape in your camera bag!) and a small pebble from the ground. Simply taping the pebble over the camera’s shutter button with enough force to fully depress the shutter, the camera happily clicked away until the tape was removed.</p>
            </div>
            <div id="post-processing" class="section scrollspy">
                <h5>Post-processing workflow</h5>
                <p>Combining 120 images may seem like a daunting task, but the process is fairly straightforward – start by editing one image. In Adobe Lightroom, edit your image to your liking. Common adjustments would usually include shadows and whites, white balance, clarity, and noise reduction. Make this one frame as perfect as you can make it, and copy the development settings. Right-click on the image in Lightroom and choose “Settings > Copy Settings” and make sure all of the settings you’ve adjusted are selected. </p>
                <p>You’ll need to paste these settings across the entire range of images. To do this, select all of the images you want to use in the filmstrip, and right-click on any of the selected thumbnails in the filmstrip. Now, choose “Develop Settings > Paste Settings” and your adjustments will appear on all of your images. </p>
            </div>
            <div id="alternate-method" class="section scrollspy">
                <h5>Alternate method to paste settings</h5>
                <p>There are a few ways inside Lightroom to copy and paste develop settings. Another way, which is particularly helpful when sharing settings over many images, is to use the “sync” feature. To do a Sync make sure the image you’ve worked on it selected in the filmstrip and visible on screen. Do a “select all” by holding “command+a” on a Mac or control+a on PC. That will select all the images in the folder. Next click the “sync” button in the lower right of the develop side panel. Choose all the settings you adjusted (as above) and click “synchronize”. </p>
            </div>
            <div id="stacking" class="section scrollspy">
                <h5>Putting them all together</h5>
                <p>You now need to send all of the images over to Photoshop in a single layer. With all of the frames still selected, right-click on any image and choose “Edit In > Open as Layers in Photoshop” and wait. This will take some time as Photoshop loads each frame into the same workspace as layers. </p>
                <p>When all of the layers are finished loading, the next step is simple for users of Photoshop CS6 and beyond. Simply select all of the layers in the layers panel, and switch the blending mode from “normal” to “lighten”. Voila! The path of the stars through the sky will be revealed. This blending mode works by comparing pixels of all layers and displaying the brightest pixel. If the landscape remains static, there won’t be any change there, avoiding the additive effects of light pollution. The stars are moving, and as their position in the image changes the new location will contain brighter pixels. </p>
                <p>For users of Photoshop CS5 or previous, this can still be done but it will take some time. You cannot select multiple layers and change the blending mode on them all at once, it must be done one at a time. </p>
                <p>When you’re done, flatten the image and save it. Continue to edit as you see fit, but the star trail is complete! </p>
                <br>
                <p>Another option if you do not use Lightroom or Photoshop is to use a free program call StarStaX. It’s easy to use, just drop your images in and it does all the magic for you, AND even fills in the tiny gaps between each of the exposures. </p>
                <div class="center-align">
                    <a target="_blank" href="https://flic.kr/p/EMkGDh" aria-label="Go to Flickr">
                    <img class="img-homepage" src="https://live.staticflickr.com/1505/25454643354_c5695e24f5_h.jpg" alt="Star trails by Beau Rogers">
                    </a>
                </div>
            </div>
            <div id="gallery" class="section scrollspy">
                <h5>Check out the gallery!</h5>
                <p>Even though you now have enough tips on how to get started and take your first star trail photographs, it might help if you take a look at a few examples of pictures with their settings, made by other photographers. Check out our <a href="{{ url_for('get_images') }}">GALLERY</a> of images created by our users. Check out the compositions and camera settings they chose, and get inspired! And finally, when you've taken your first pictures and are happy with the result, feel free to <a href="{{ url_for('sign_up') }}">CREATE AN ACCOUNT</a> and add your own images to the gallery, so others can be inspired by your star trail photography.</p>
            </div>
        </div>
        <!----------------------------------------END ARTICLE---------------------------------------->
        <!----------------------------------------SCROLLSPY---------------------------------------->
        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents fixed">
                <li><a href="#title" aria-label="Go to the top of the article">Top of the article</a></li>
                <li><a href="#composition" aria-label="Go to paragraph Composition comes first">Composition comes first</a></li>
                <li><a href="#settings" aria-label="Go to paragraph Camera settings">Camera settings</a></li>
                <li><a href="#post-processing" aria-label="Go to paragraph Post-processing workflow">Post-processing workflow</a></li>
                <li><a href="#alternate-method" aria-label="Go to paragraph Alternate method">Alternate method</a></li>
                <li><a href="#stacking" aria-label="Go to paragraph Putting them all together">Putting them all together</a></li>
                <li><a href="#gallery" aria-label="Go to paragraph Check out the gallery">Check out the gallery!</a></li>
            </ul>
        </div>
        <!----------------------------------------END SCROLLSPY---------------------------------------->
    </div>
</article>
{% endblock %}